
<div class="h-full bg-gradient-to-tl from-green-400 to-indigo-900 w-full py-16 px-4">
    <div class="flex flex-col items-center justify-center">
        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg1.svg" alt="logo">

        <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">

            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']">Sign up
                </a>
            </div>


            <form
                class="mt-8"
                #signInNgForm="ngForm">
     
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <!-- <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error> -->
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'">visibility</mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>
                
        
                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        class="color-primary"
                        [formControlName]="'rememberMe'">
                        Remember me
                    </mat-checkbox>
                    <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>
        
                <button type="submit" class="
                    w-full
                    block
                    bg-blue-700
                    hover:bg-blue-600
                    focus:bg-blue-600
                    text-white
                    font-semibold
                    rounded-lg
                    px-4
                    py-3
                    mt-6
                    ">
                    Log In
                </button>
            </form>


            <!-- Separator -->
            <div class="flex items-center py-4">
                <div class="flex-auto mt-px border-t"></div>
                <div class="mx-2 text-gray-400">Or continue with</div>
                <div class="flex-auto mt-px border-t"></div>
            </div>

            <!-- <button type="button" class="
                w-full
                block
                bg-white
                hover:bg-slate-100
                focus:bg-slate-100
                text-slate-700
                font-semibold
                rounded-lg
                px-4
                py-3
                border-2 border-slate-200
                ">
                <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6"
                        viewBox="0 0 48 48">
                        <defs>
                        <path id="a"
                            d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                        </defs>
                        <clipPath id="b">
                        <use xlink:href="#a" overflow="visible" />
                        </clipPath>
                        <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                        <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                        <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                        <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                    </svg>
                    <span class="ml-4"> Log in with Google</span>
                </div>
            </button> -->

            <!-- Single sign-on buttons -->
            <div class="flex items-center mt-8 space-x-4">
                <button
                    class="flex-auto"
                    type="button"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'feather:facebook'"></mat-icon>
                </button>
                <button
                    class="flex-auto"
                    type="button"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'feather:twitter'"></mat-icon>
                </button>
                <button
                    class="flex-auto"
                    type="button"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'feather:github'"></mat-icon>
                </button>
            </div>
            
            <div class="mt-4 text-slate-500">
                Need an account? <a href="#" class="text-blue-500 hover:text-blue-700">Create an account</a>
            </div>
            
        </div>
    </div>
</div>



<button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="">Home</button>

<router-outlet></router-outlet>
